<div id="page-about">
  <nav class="navbar navbar-inverse navbar-blue">
    <div class="container container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/#/">Data Center Monitor
          <span id="header-separator"> | </span>
          <span id="header-page">About</span>
        </a>
      </div>
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container container-fluid">
    <h1>About</h1>
    
    <div class="centered">
      <h3>This app is part of a project built by the <a target="_blank" href="http://parallel.princeton.edu/">Princeton Parallel Group</a></h2>
      
      <h4>It was built for a senior thesis by <a target="_blank" href="http://ryanoshea.com">Ryan O'Shea</a>, Class of 2016.</h4>
      
      <p><img id="thesis-titlepage" src="img/thesis.png"></p>
      
      <h4>The project is 100% open-source, and the code can be found on <a href="https://github.com/PrincetonUniversity/data-center-monitoring">GitHub.</a></h4>
      
      <p><a href="https://github.com/PrincetonUniversity/data-center-monitoring"><img id="github-scrsht" src="img/github.png"></a></p>
      
      <h4>The project's advisor is <a target="_blank" href="https://www.princeton.edu/~wentzlaf/">Prof. David Wentzlaff</a>.</h4>
      
      <hr>
      
    </div>
  </div>
</div>