<div id="page-dash" class="container container-fluid">
  <section id="facilities" ng-hide="facilities.length < 2">
    <p class="select-label">
      Facilities
      <a class="dc-tooltip" alt="You can browse data from all facilities because you are an administrator.">
        <i class="fa fa-info-circle"></i>
      </a>
    </p>
    <select ng-model="currentFacility" ng-change="fetchControllers()">
      <option ng-repeat="facility in facilities" value="{{facility.name}}">{{facility.name}}</option>
    </select>
  </section>
  <section id="controllers">
    <p class="select-label">Cabinets
      <a class="dc-tooltip" alt="Server cabinets with sensors installed at your facility. Select a cabinet to see climate data.">
        <i class="fa fa-info-circle"></i>
      </a>
    </p>
    <select ng-model="currentController" ng-change="fetchDates()" ng-hide="controllerNameEditing">
      <option ng-repeat="controller in controllers" value="{{controller.id}}">{{controller.name}}</option>
    </select>
    <input type="text" ng-model="newControllerName" ng-hide="!controllerNameEditing" id="new-controller-name" value="{{controllerNames[controllerIDs.indexOf(currentController)]}}">
    <a id="edit-controller-name" ng-hide="controllerNameEditing" ng-click="controllerNameEditing = !controllerNameEditing" class="dc-tooltip" alt="Click to edit the name of this cabinet">
      <i class="fa fa-edit"></i>
    </a>
    <a id="edit-controller-name-submit" ng-click="renameController()" ng-hide="!controllerNameEditing" class="btn btn-success btn-sm"><i class="fa fa-save"></i> Save</a>
    <a id="edit-controller-name-cancel" ng-click="controllerNameEditing = !controllerNameEditing" ng-hide="!controllerNameEditing" class="btn btn-default btn-sm"><i class="fa fa-cancel"></i> Cancel</a>
  </section>
  <section>
    <p class="centered">{{formatDate(dates[dates.length - 1 - dateIdx])}}</p>
    <input type="range" ng-model="dateIdx" ng-change="currentDate = dates[dates.length - 1 - dateIdx]" min="0" max="5" id="date-slider">
    <ul>
      <li ng-repeat="reading in readings">{{reading.sensor_addr}}: {{CtoF(reading.temp)}}</li>
    </ul>
  </section>
  <button logout>Logout</button>
</div>
