html {
    overflow-y: scroll;
}

body
{
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #222;
  background: #eaeaea;
}

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

*
{
  cursor: default;
}

input[type=text], textarea
{
  cursor: text;
}

.invisible
{
  visibility: hidden;
}

.centered
{
  text-align: center;
  margin: 0 auto;
}

#page-login h1
{
  font-family: Raleway;
  font-weight: 900;
}

#page-login .jumbotron
{
  background: url('../img/splash.jpg') no-repeat fixed center 50%;
  background-size: cover;
  color: white;
  padding: 0;
}

#page-login .jumbotron #screen
{
  background: rgba(0,0,0,.7);
  padding: 7em 0 2em 0;
}

#page-login #login-box
{
  max-width: 30em;
  margin: 0 auto;
}

#page-login .info-block
{
  display: inline-block;
  vertical-align: top;
  width: 22em;
  margin: 2em;
}

#page-login .info-block h4
{
  text-align: center;
}

#page-login .info-block .icon img
{
  height: 7em;
}

#page-login .info-block .icon .fa
{
  font-size: 7em;
}

#page-login .info-block .text p
{
  text-align: justify;
}

#page-dash #controller-select
{
  background: none;
  border: none;
  font-size: 2em;
}

#page-dash select:focus
{
  outline: none;
}

#page-dash .dc-label
{
  font-family: Raleway;
  font-weight: 900;
  font-variant: small-caps;
  font-size: 1.1em;
  text-transform: lowercase;
  margin: 1em 0 0 0;
}

.dc-tooltip
{
  display: inline;
  position: relative;
  text-decoration: none;
  top: 0px;
  left: 4px;
  color: #666;
  font-size: .85em;
}

.dc-tooltip:hover:after
{
  text-align: left;
  background: #333;
  background: rgba(0,0,0,.9);
  border-radius: 5px;
  top: -5px;
  color: #fff;
  left: 20px;
  content: attr(alt);
  padding: .75em 1em;
  position: absolute;
  z-index: 98;
  width: 20em;
  font-variant: normal;
  text-transform: none;
  font-size: .95em;
  font-family: Raleway;
  font-weight: 600;
}

.dc-tooltip:hover
{
  color: #666;
}

.dc-tooltip:after,
.dc-tooltip:before
{
  opacity: 0;
}

.dc-tooltip:hover:after,
.dc-tooltip:hover:before
{
  opacity: 1;
}

.dc-tooltip:hover:before
{
  border: solid;
  border-color: transparent rgba(0,0,0,.9);
  border-width: 6px 6px 6px 0;
  bottom: 20px;
  left: 14px;
  content: "";
  position: absolute;
  z-index: 99;
  top: 3px;
}

#edit-controller-name
{
  font-size: 1.5em;
}

#edit-controller-name:after
{
  font-size: .6em;
}

.smaller
{
  font-size: .5em;
}

#new-controller-name
{
  font-size: 2em;
}

.input-lg
{
  padding-top: 12px;
  padding-bottom: 12px;
}

.input-group.no-stretch input.form-control
{
  width: initial;
}

#controller-width-selector
{
  width: 8em;
}

#controller-width-selector input
{
  text-align: center;
  cursor: default;
  background-color: white;
  color: #444;
  font-weight: bold;
}

.link-cursor,
.link-cursor i.fa
{
  cursor: pointer;
  color: #666;
}

.nav.nav-pills.dc-pills li
{
  font-weight: normal;
  text-transform: uppercase;
}

.nav.nav-pills.dc-pills li a:hover
{
  background-color: #ddd;
  color: #222;
}

.nav.nav-pills.dc-pills li.active a,
.nav.nav-pills.dc-pills li.active a:hover
{
  background-color: #ccc;
  color: #222;
}

#readings-display-mode-picker
{
  float: right;
}

.readings-display
{
  clear: right;
  margin: 7em 0 2em;
}

#date-slider
{
  -webkit-appearance: none;
  background-color: #777;
  height: 3px;
  border-radius: 5px;
  margin: 0.5em 0 2em 0;
  /*box-shadow: inset 1px 1px 3px rgba(0,0,0,0.6);*/
}

#date-slider:focus
{
  outline: none;
}

#date-slider::-webkit-slider-thumb
{
  -webkit-appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 1px 1px 7px rgba(0,0,0,0.75);
}

#date-display
{
  font-size: 1.5em;
  font-weight: 600;
  width: 8em;
  margin: 0 auto 1em auto;
}

#date-display hr
{
  margin: .25em;
  border-color: #aaa;
}

#date-display .time
{
  font-size: .9em;
}

.readings-display .cabinet
{
  display: inline-block;
  height: 350px;
  width: 150px;
  margin-right: -10px;
  position: relative;
}

.readings-display .cabinet .bg {
  display: block;
  background: url('../img/server-rack.svg') top left;
  background-size: contain;
  height: 350px;
  width: 150px;
  opacity:0.4;
}

.readings-display .cabinet .cabinet-sensors
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2em 1em 1em 0.4em;
}

.readings-display .cabinet .cabinet-sensors .sensor
{
  margin: 1.6em auto;
  text-align: center;
  padding: .5em 0;
}

.readings-display .cabinet .cabinet-sensors .sensor .sensor-text
{
  padding: 0.5em;
  background: rgba(255,255,255,0.8);
  border-radius: 1em;
}

.inline-block
{
  display: inline-block;
}

#cabinet-wrapper
{
  padding-right: 10px;
}

#readings-display-server
{
  text-align: center;
}

#data-loading
{
  margin: 10% 0;
  font-size: 6em;
  text-align: center;
  color: #666;
}

button i
{
  cursor: pointer;
}

.sensor-mapping-editor
{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15em;
  margin-top: -3em;
  width: 30em;
  padding: 1em;
  background: #eee;
  border-radius: 1em;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow:    0px 10px 30px 0px rgba(0, 0, 0, 0.7);
  box-shadow:         0px 10px 30px 0px rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.sensor-mapping-editor .form-group
{
  min-height: 2.5em;
}

.sensor-mapping-editor .form-group label
{
  margin-top: .5em;
  text-align: right;
}

.close-button
{
  text-align: right;
  margin-bottom: -1em;
  margin-top: -.5em;
}

.close-button a
{
  color: #444;
}

.sensor-mapping-editor h3
{
  margin-top: 0;
}

#toggle-cabinet-lock
{
  text-align: right;
  margin-top: 2em;
}

.line-graph .scale-button-group
{
  display: none;
}

.line-graph .date-label-group
{
  display: none;
}

.sensor-highlight
{
  border: 3px solid #666;
}

form#alert-controller
{
  text-align: center;
}

#no-alerts-message
{
  text-align: center;
  font-size: 1.4em;
  margin-top: 2em;
}
